@import "../../utils/styles/styles";
@import "../../utils/styles/colors";

.mainPage {
  // height: 100%;
  @include chatPageDimenstion;
  display: flex;
  flex-direction: column;
}

.chatDateCatContainer {
  width: 100%;
  @include flexCenter;
}

.chatDate {
  width: 95%;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.chatDate:after,
.chatDate:before {
  content: "";
  border-bottom: 1px solid $borderColor;
  flex-grow: 1;
}
.chatDate:after {
  margin-left: 10px;
}
.chatDate:before {
  margin-right: 10px;
}
.messagesContainer {
  flex-grow: 1;
  @include scollContent;
}
.messagesContainer::-webkit-scrollbar {
  display: none;
}

.messageInputSendBtn {
  padding: 8px;
  margin-left: 5px;
  width: 30px;
  height: 30px;
  // height: 100%;
  @include flexCenter;
  background-color: $primaryColor;
  border-radius: 50%;
  color: white;
}

.chatMessageContainer {
  display: flex;
  justify-content: flex-end;
  padding: 8px 5px;
}

.chatMessageContainer_r {
  justify-content: flex-start;
}

.chatMessageBox {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  right: 20px;
  border-radius: 20px;
  min-height: 50px;
  width: 75%;
  z-index: 3;
  color: white;
  background-color: $chatMessageSenderColor;
  padding: 10px 10px;
}

.chatMessageBox_r {
  background-color: $chatMessageRecipientColor;
}

.chatMessageBoxTime {
  margin-top: 8px;
}

.triangleTopRight {
  width: 0;
  height: 0;
  z-index: 2;
  margin-left: -30px;
  border-top: 50px solid $chatMessageSenderColor;
  border-right: 50px solid transparent;
}

.triangleTopleft {
  width: 0;
  height: 0;
  z-index: 2;
  margin-right: -30px;
  border-top: 50px solid $chatMessageRecipientColor;
  border-left: 50px solid transparent;
}

.messageInputContainer {
  display: flex;
  align-items: center;
}

textarea {
  width: 100%;
  // border-radius: 15px;
}

textarea {
  width: 100%;
  padding: 12px 12px;
  margin: 5px 0 0 0;
  box-sizing: border-box;
  border-radius: 15px;
  border-color: $primaryColor;
  // display: flex;
  // align-items: center;
  // justify-content: center;
}

textarea:focus {
  outline: none;
}
