.slide-in {
  
  opacity: 0;
  margin-left: 50px;
  transition: all 0.3s ease-in-out;
}

.slide-in.enter-done {
  opacity: 1;
  margin-left: 0px;
}

.slide-in.exit {
  opacity: 0;
}

.slide-in-content {
  transition: all 0.3s ease-in-out;
  // transform: translateX(200px);
}
